[submodule "vagrant/provisioners/puppet/modules/mysql"]
	path = vagrant/provisioners/puppet/modules/mysql
	url = git@github.com:example42/puppet-mysql.git
[submodule "vagrant/provisioners/puppet/modules/apt"]
	path = vagrant/provisioners/puppet/modules/apt
	url = git@github.com:example42/puppet-apt.git
[submodule "vagrant/provisioners/puppet/modules/nginx"]
	path = vagrant/provisioners/puppet/modules/nginx
	url = https://github.com/example42/puppet-nginx
[submodule "vagrant/provisioners/puppet/modules/php"]
	path = vagrant/provisioners/puppet/modules/php
	url = https://github.com/example42/puppet-php
[submodule "vagrant/provisioners/puppet/modules/puppi"]
	path = vagrant/provisioners/puppet/modules/puppi
	url = git@github.com:example42/puppi.git
[submodule "vagrant/provisioners/puppet/modules/apache"]
	path = vagrant/provisioners/puppet/modules/apache
	url = git@github.com:example42/puppet-apache.git
[submodule "vagrant/provisioners/puppet/modules/git"]
	path = vagrant/provisioners/puppet/modules/git
	url = git@github.com:example42/puppet-git.git
[submodule "vagrant/provisioners/puppet/modules/redis"]
	path = vagrant/provisioners/puppet/modules/redis
	url = https://github.com/example42/puppet-redis
[submodule "vagrant/provisioners/puppet/modules/monitor"]
	path = vagrant/provisioners/puppet/modules/monitor
	url = https://github.com/example42/puppet-monitor
[submodule "vagrant/provisioners/puppet/modules/stdlib"]
	path = vagrant/provisioners/puppet/modules/stdlib
	url = https://github.com/example42/puppetlabs-stdlib
[submodule "vagrant/provisioners/puppet/modules/firewall"]
	path = vagrant/provisioners/puppet/modules/firewall
	url = https://github.com/example42/puppet-firewall
